/* .App {
  text-align: center;
  background-color: rgb(232, 138, 16);
} */

/* .navbar {
  height: 80px;
  background-color: #00285a;
  color: white;
  margin-bottom: 10px;
} */

.footer {
  height: 25px;
  background-color: #00285a;
  color: white;
  text-align: center;
  font-size: small;
  letter-spacing: 2px;

  position: fixed;
  bottom: 0;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 19px;
  max-width: 90vh;
  margin: 40px;
}
.container .carousel {
  align-items: center;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.container .carousel .item {
  margin-left: 3px;
  border: 2px solid black;
  border-radius: 18px;
  width: 270px;
  flex: none;
}

.container .carousel .item .image {
  align-items: center;
  height: 200px;
  width: 200px;
}
.container .carousel .item .image img {
  align-items: center;

  width: 90%;
  height: 90%;
  object-fit: cover;
}
.container .carousel .item .info {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .carousel .item .info span {
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
}
.info .name {
  font-weight: bolder;
  font-size: 25px;
  text-justify: distribute-all-lines;
}
.container .buttons {
  width: 100%;
  text-align: center;
}

.container .buttons button {
  background-color: transparent;
  border: none;
}
.container .buttons button:first-child img {
  transform: rotate(180deg);
}
